.form {
    margin: 200px auto;
    max-width: 500px;
}

.form__fieldset {
    border: none;
    border-left: 1px solid rgb(160, 160, 160);
    border-top: 1px solid rgb(160, 160, 160);
    box-shadow: 10px 10px 18px -3px #000000;
    background-color: #b9f2ff;
}

.form__legend {
    letter-spacing: 3px;
    font-weight: 900;
}

.form__labelText {
    padding: 5px;
}

.form__labelInput {
    padding: 3px;
    max-width: 120px;
}

.form__button {
    padding: 3px;
    margin: 5px;
    width: 80px;
}

.form__result {
    border-left: 1px solid rgb(160, 160, 160);
    border-top: 1px solid rgb(160, 160, 160);
    box-shadow: 10px 10px 18px -3px #000000;
    padding: 10px;
    text-align: center;
    font-weight: 900;
    height: 40px;
    background-color: #b9f2ff;
}